<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <div>
        <h1 style="color: coral; text-align: center; margin-top: 20px; margin-top: 2em; text-shadow: 2px 2px grey;"><i>
                selamat datang di sekolah sekolahan</i></h2>
            <h3 style="color: black; text-align: center;margin-top: 10px;"> link menuju database kami </h3>
            <h4 style="text-align: center;"> <a href="/teachers">Teachers </a> </h4>
            <h4 style="text-align: center;"> <a href="/students">Students </a> </h4>
            <h4 style="text-align: center;"> <a href="/subjects">Subjects </a> </h4>
    </div>
</body>

</html>