<nav id="sidebar">
    <div class="sidebar-header">
        <h4>Play Traditional Game</h4>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="/users">User</a>
        </li>
        <li>
            <a href="/biodata">Biodata</a>
        </li>
        <li>
            <a href="/history">History</a>
        </li>
    </ul>
</nav>