<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('../components/head') %>
</head>

<body>


    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include('../components/sidebar') %>

            <!-- Page Content  -->
            <div id="content">

                <%- include('../components/navbar') %>
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <h2>Data User</h2>
                            </div>
                            <div class=".col-md-4 .offset-md-4">
                                <button class="btn btn-success"><i class="fas fa-plus"></i> Tambah User</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Nasma Lengkap</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include('../components/script') %>
</body>

</html>